extends ../layout

block header
    header
        .header-wrap
            .user
                .icon-angle-left
                .icon-user
                .name
                    .text="上野直樹"
                    .status="online"

            .bookmark
                .icon-star
            .edit
                .icon-pencil
            .settings
                .icon-ellipsis-vertical



block content
    main.chat
        section.profile
            img(src="/fireeagle/img/img_rokuro.png")
            video.counter-video(id="remote-video", autoplay)

        section.operation
            div.button-wrap
                a.pure-button.button-viber.js-call="Free Call"
                a.pure-button.button-viber.js-message="Free Message"

            div.out
                h3="CALL ANY NUMBER VIA VIBER OUT"
                div.number-wrap
                    div.number="08012345678"
                    div.button-wrap
                        a.button-out.js-out="VIBER OUT"

        //- section.message
        //-     ul.message-list
        //-     form.input-form
        //-         textarea(id="message-input")
        //-         a.button-success.pure-button(href="#", id="message-send")="送信"